<tr>
<%= form_for timeblock, :remote => true  do |f| %>
  <% if timeblock.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(timeblock.errors.count, "error") %> prohibited this timeblock from being saved:</h3>
      <ul>
      <% timeblock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.hidden_field :id %>
	<%= f.text_field :start %>
	<%= f.text_field :end %>
	<%= f.submit "Update" %>
<% end %>
</tr>
