<% content_for :css do %>
<%= stylesheet_link_tag "timeblocks.css" %>
<%= stylesheet_link_tag "bootstrap-1.2.0.min.css" %>
<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag "timeblocks" %>
<% end %>

<% content_for :header do %>
<%= render 'shared/header' %>
<% end %>

<div id="date_shown"><%= @date %></div>

<%=  render :partial=>'date_banner', :locals=>{:date=>@date} %>

<div class="scrollable_container">
	<table id="timeblocks_table" class="zebra_striped">
	  <thead>
	    <th class="tagCol">Tag(s)</th>
	    <th class="timeCol">Start time</th>
	    <th class="timeCol">End time</th>
	    <th>Note</th>
	    <th></th>
	  </thead>
	  <tbody id="timeblocks_table_body">
	    <%= render @timeblocks %>
	  </tbody>
	</table>
</div>

<%= link_to 'Add Timeblock', new_timeblock_path, :id => 'add_timeblock', :method=>:get, :remote => true  %>

<%= render "metrics" %>
