<% content_for :css do %>
<%= stylesheet_link_tag "timeblocks.css" %>
<%= stylesheet_link_tag "bootstrap-1.2.0.min.css" %>
<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag "timeblocks" %>
<% end %>

<div class="container">
  <h1>Welcome, <%= @user.email %>!</h1>
  <h3><%= @date.readable_inspect %></h3>
  <table id="timeblocks_table zebra_striped">
    <thead>
      <th>Tag(s)</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
    </thead>
    <tbody id="timeblocks_table_body">
      <%= render @timeblocks %>
    </tbody>
  </table>
  <%= link_to 'Add Timeblock', new_timeblock_path, :id => 'add_timeblock', :method=>:get, :remote => true  %>
</div>
