<h1>Timeblocks for <%= @user.email %> for <%= @date.readable_inspect %></h1>

<p>Timeblock count = <%= @timeblocks.count %></p>
<div id="timeblocks_list">
<div>
  <div class="list_header">Start</div>
  <div class="list_header">End</div>
  <div class="list_header">-</div>
</div>
<%= render @timeblocks %>
</div>
<%= link_to 'Add Timeblock', timeblocks_new_path, :id => 'add_timeblock', :method=>:post, :remote => true  %>
