<!DOCTYPE html>
<html>
<head>
  <title>Timeblocks</title>
  <%= stylesheet_link_tag :all %>
	<%= csrf_meta_tag %>
	<%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery_ujs.js" %>
  <%= javascript_include_tag "application" %>
	<%= yield(:javascript) %>
	<%= yield(:css) %>
	
</head>
<body>

<%= yield %>

</body>
</html>
